.unknown{
    background-color:grey;
}
.cell{
    cursor:pointer;
    height:auto;
    width:auto;

    margin:1px;
    padding:5px;

    font-size:20px;
    vertical-align:middle;
    cursor: pointer;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
}

.fa-bomb {
    font-size: 14px;
}

.known {
    font-size: 21px;
    font-weight: bold;

}

.fa-flag{
    font-size: 12px;
}