

*{
    font-family: 'Quicksand', sans-serif;
}
.unknown{
    background-color:grey;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    border-right: 2px solid #7B7B7B;
}

.board{
   max-width: 724px;
    padding: 0px 15px;
    border-bottom: 2px solid #f5f5f5;
    border-left: 2px solid #7B7B7B;
    border-top: 2px solid #7B7B7B;
    border-right: 2px solid #f5f5f5;

}


.row{
    width:auto;
    max-width: 724px;
}

.container{
  margin-top: 20px;
}

.known{
    border-bottom: 2px solid #f5f5f5;
    border-left: 2px solid #7B7B7B;
    border-top: 2px solid #7B7B7B;
    border-right: 2px solid #f5f5f5;
}

.cell{
    display:inline-block;
    cursor:pointer;
    height:60px;
    padding:15px;
    font-size:20px;
    text-align:center;
    transition: all 0.1s ease;
}

.fa-bomb {
    font-size: 14px;
}

.known {
    font-size: 21px;
    font-weight: bold;
}

.fa-flag{
    font-size: 12px;
}

.far{
    border-radius: 2px;
    padding: 2px;
    color: #ffd300;
    font-size: 50px;
}

.title {
	display: inline;
	position: relative;
	font: 150px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: #fdc982;
}

.title:after {
	content: "Minesweeper";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);
}
.subtitle {
    color: #666666;
}
.choose_diff {
    color: #fa8072;
}

.btn {
    background-color: #fdc982;
    color: white;
    font-size: 20px;
}
