.unknown{
    background-color:grey;
}
.cell{
    height:auto;
    width:auto;
    border:1px solid black;
    margin:1px;
    padding:5px;

    font-size:20px;
    vertical-align:middle;
    cursor: pointer;
}

.fa-bomb {
    font-size: 14px;
}

.known {
    font-size: 21px;
    font-weight: bold;
}